@import '../../../styles/variables.scss';

.top-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $dark-purple;
  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    img {
      width: 48px;
      height: 100%;
    }
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 12px;
      color: $light-pink;
    }
    .divisor {
      border: 0.5px solid $dark-pink;
      width: 200px;
      margin-top: 20px;
      margin-bottom: 20px ;
    }
    .sub-title {
      font-size: 20px;
      color: #fff;
    }
  }
  .sidebar-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: $dark-pink;
  }
}
