$light-purple: #904AA8;
$dark-purple: #571070;
$sky-purple: #F4D6FF;
$light-pink: #FFD0E4;
$medium-pink: #F27777;
$dark-pink: #DF2B6A;
$orange: #FD6E6E;
$light-blue: #7790CF;
$light-gray: #5F5F5F;
$background: #f9f9f9;
$steel: #373F51;
$cloud: #dfdfdf;
$smooth-gray: #ECECEC;
$vanilla: #F1EEEE;
$ice-steel: #5F5F5F;
$shadow: 0 1px 3px 0 rgba(55, 63, 81, 0.15);
$shadow-hover: 0px 0px 4px #EDB7FF;
$shadow-always: 0px 4px 4px rgba(144, 74, 168, 0.3);
