@import 'src/styles/variables.scss';

mat-card {
  color: $dark-pink;
  font-weight: 600;
  height: 800px;
  mat-card-title {
    width: 350px;
  }
  mat-card-content {
    width: 350px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .chart-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 300px;
      .chart-data {
        color: $dark-purple;
        font-weight: 600;
        font-size: 32px;
      }
    }
    .legend-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-y: auto;
      width: 100%;
      height: 250px;
      text-transform: capitalize;
      .legend {
        color: $dark-pink;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
      }
      .legend-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0px;
        }
        .legend-color {
          width: 20px;
          height: 20px;
          border: 1px solid $steel;
          margin-right: 10px;
        }
      }
    }
  }
}

.number-card {
  height: 200px !important;
  mat-card-content {
    height: 150px !important;
    .chart-container {
      height: 150px !important;
    }
  }
}