@import '../../../styles/variables.scss';

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .logo {
    width: 150px;
    height: 200px;
    svg-icon {
      width: 150px;
      height: 200px;
      svg {
        width: 150px;
        height: 200px;
      }
    }
  }
  .sidebar-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 50px;
    transition: color 0.5s ease-in-out;
    border-bottom: 1px solid $smooth-gray;
    cursor: pointer;
    &:hover {
      transition: color 0.5s ease-in-out;
      color: $dark-pink;
      background-color: $background;
    }
    &:last-of-type {
      border: none;
    }
  }
  .sidebar-option-disabled {
    cursor: default;
    &:hover {
      color: unset;
      background-color: unset;
    }
  }
}
