@import 'src/styles/variables.scss';

.maria-penha-inner-body {
  align-items: center;
}
.juizo-valor {
  width: 50%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: $shadow-always;
  cursor: pointer;
  span {
    color: #fff;
    margin-left: 5px;
  }
  mat-icon {
    color: #fff;
    width: 20px;
    height: 20px;
    position: relative;
    top: -1px;
  }
  &.risco {
    background-color: $medium-pink;
    margin-bottom: 80px;
  }
  &.esperar {
    background-color: $light-blue;
  }
}
