<div class="login-page">
  <mat-card class="login-card">
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      <form class="login-form" [formGroup]="formGroup">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="formGroup.get('email').hasError('required')">Campo obrigatório</mat-error>
          <mat-error *ngIf="formGroup.get('email').hasError('email')">Email mal formatado</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="pass" />
          <mat-error *ngIf="formGroup.get('pass').hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="maria-secondary-button" [disabled]="loading" (click)="forgotPassword()">Esqueceu sua senha?</button>
      <button class="maria-primary-button" [disabled]="formGroup.invalid || loading" (click)="login()">Entrar</button>
    </mat-card-actions>
  </mat-card>
</div>
